extends layout

block title
  title myapp

block content
  h1#LR_title Edit Profile
  hr
  form(method='POST', action='/users/'+theuser.username+"/edit")
    #form-group
      label Your Name:
      input#login_register_inputs.form-control(name='name', type='text' value!= theuser.name)
    br
    #form-group
      label Your Age:
      input#login_register_inputs.form-control(name='age', type='text' value!= theuser.age)
    br
    #form-group
      label Your Location:
      input#login_register_inputs.form-control(name='location', type='text' value!= theuser.location)
    br
    #form-group
      label Your Relationship:
      br
      select(name='Relations')
        option(value='Single') Single
        option(value='Married') Married
        option(value='Enganged') Enganged
        option(value='Dating') Dating
    br
    #form-group
      label Your Job:
      input#login_register_inputs.form-control(name='job', type='text' value!= theuser.job)
    br
    #form-group
      label Your Education:
      input#login_register_inputs.form-control(name='education', type='text' value!= theuser.education)
    br
    input#login_register_buttons.btn.btn-primary(type='submit', value='Submit')
    br
    br
    a(href='/users/'+user.username) Cancel
  
