extends layout

block title
  title myapp
  
block content
  form(method='POST', action='/')
    #form-group
      textarea#post.form-control(name='post' rows='5', placeholder!="What do you want to say, " + user.name + "?")
    br
    input#post_button.btn.btn-primary(type='submit', value='Post')
    each post, i in posts
        hr
        a#name_post(href='/users/'+post.username)!=post.name
        h6#time_post!= post.timestamp + " minutes ago"
        h3#text_post!=post.text
        br
        form(method='POST', action='')
          button#likes_post.btn.btn-default(type='submit', value="Search")
            i.fa.fa-heart(aria-hidden='true')
            != " " + post.likes
            
          

  
