extends layout

block title
  title myapp
  
block content
  h1#LR_title Login
  form(method='POST', action='/users/login')
    #form-group
      label Username:
      input#login_register_inputs.form-control(name='username', type='text')
    #form-group
      label Password:
      input#login_register_inputs.form-control(name='password', type='password')
    br
    input#login_register_buttons.btn.btn-primary(type='submit', value='Submit')
    br
    br
    a(href='/users/register') Create an account here
