extends layout

block title
  title myapp
  
block content
  h1#LR_title Register
  hr
  form(method='POST', action='/users/register')
    #form-group
      label Name:
      input#login_register_inputs.form-control(name='name', type='text')
    #form-group
      label Email:
      input#login_register_inputs.form-control(name='email', type='text')
    #form-group
      label Username:
      input#login_register_inputs.form-control(name='username', type='text')
    #form-group
      label Password:
      input#login_register_inputs.form-control(name='password', type='password')
    #form-group
      label Confirm Password:
      input#login_register_inputs.form-control(name='password2', type='password')
    br
    input#login_register_buttons.btn.btn-primary(type='submit', value='Submit')
    br
    br
    a(href='/users/login') Already have an account? Sign in here
    
