extends layout

block title
  title myapp
  
block content
  h2#foundusers_title_search Found Users
  
  if foundUsers
    each theuser, i in foundUsers
      .container
        hr
        a#user_link_search(href="/users/"+theuser.username)!= theuser.name
        if(theuser.location != "NA")
          h5#user_location_search!= theuser.location
        
  
