.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#searchbar{
  width:350px;
}

#LR_title{
  font-family: Helvetica, Arial, sans-serif;
}
#login_register_inputs{
  width: 375px;
}

#login_register_buttons{
  width:375px;
}

#title_text_profile{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}
#name_text_profile{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 30px;
}
#small_text_profile{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

#foundusers_title_search{
  font-family: Helvetica, Arial, sans-serif;
}
#user_link_search{
  cursor: pointer;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

#user_location_search{
  color:gray;
  font-family: Helvetica, Arial, sans-serif;
}
